<strong>Olá, {{ student }}, tudo bem?</strong>
<p>Seja <strong>bem-vindo a Gympoint</strong>! Estamos felizes por ter no escolhido e esperamos te ajudar a alcançar os seus objetivos. Conte conosco!</p>

<hr>

<h2>Plano escolhido: {{ plan }}</h2>
<p>
  <strong>Valor Mensal: </strong>R${{ price }} <br>
  <strong>Valor Total: </strong>R${{ final_price }} <br>
  <strong>Data da compra: </strong>{{ start_date }} <br>
  <strong>Término do plano: </strong>{{ end_date }} <br>
</p>
