<strong>Olá, {{ student }}, tudo bem?</strong>
<p>Seu plano na Gympoint foi atualizado \o/</p>

<hr>

<h2>Plano escolhido: {{ plan }}</h2>
<p>
  <strong>Valor Mensal: </strong>R${{ price }} <br>
  <strong>Valor Total: </strong>R${{ final_price }} <br>
  <strong>Data da compra: </strong>{{ start_date }} <br>
  <strong>Término do plano: </strong>{{ end_date }} <br>
</p>
